<div ${!nameAttrSetting} data-dojo-attach-point="domNode, focusNode" class="fileInputList">
    <input type="hidden" data-dojo-attach-point="coverNode" />
    <input data-dojo-type="dojo-common/form/FileInputAuto"
           data-dojo-attach-point="fileWidget"
           data-dojo-props="name:'image',
                            url: '${uploadingUrl}',
                            triggerEvent: 'onchange',
                            uploadMessage: '${messages.uploadingMessage}',
                            failedUploadMessage: '${messages.failedUploadingMessage}',
                            label: '${messages.uploaderLabel}',
                            duration: 1,
                            realSize: 36,
                            blurDelay: 0" />

    <div data-dojo-attach-point="containerNode"></div>
</div>